html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    background: #817ac1;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
}

.x1 {
    left: 5%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 25%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x4 {
    left: 72%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 0s ease-in-out infinite alternate;
    animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x5 {
    left: 88%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 33%;
    opacity: 1;
    -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

.x6 {
    left: 33%;
    opacity: 1;
    -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@keyframes swayWays {
    0% {
        transform: rotate(12deg);
        left: -0.3%;
    }
    33% {
        transform: rotate(-2deg);
        left: 0.7%;
    }
    100% {
        transform: rotate(0deg);
        left: -12%;
    }
}

/* HEART CODE */
.altheart {
    background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png) no-repeat center;
    width: 24px;
    height: 21px;
    position: relative;
    display: block;
}

.heart {
    position: relative;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 30px;
    background: #CC2022;
    -moz-border-radius: 20px 50% 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.btn-outline-primary {
    background-color: #f0eef3 !important;
    border-color: #383464 !important;
    color: #383464 !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
    background-color: #8133ff !important;
    color: #f0eef3 !important;
}

.title-text {
    font-family: 'Indie Flower', cursive;
    color: white;
}

.sentence {
    margin-top: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

#sentence-placeholder {
    font-size: 24px;
    font-style: italic;
    color: #ffffff;
    margin: 0;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.card {
    width: 100%;    
    padding: 20px;
    background-color: #383464;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

div.card h1.title-text {
  color: #ffffff; 
}

div.card p {
  color: #ffffff;
}

.displaying-container {
    margin-top: 25px;
    display: flex;
    gap: 2.2px;
    flex-wrap: wrap;
}   

@media(max-width: 768px) {
    .displaying-container {
        gap: 10px; 
    }
    .card {
        width: 100%;
    }
}

.displaying-item {
    flex-grow: 1;
    flex-basis: 200;
} 

.row {
    display: flex;
}

.column {
    flex: 50%;
}

h2, p {
    text-align: center;
    font-family: 'Nunito', sans-serif; 
}

h2 {
    font-size: 1.5em;
    color: #c1a5d2; 
    text-shadow: 0 0 10px #c1a5d2, 0 0 10px #c1a5d2, 0 0 30px #c1a5d2;
}

p {
    font-size: 1em;
    color: #fff; 
    text-shadow: 0 0 10px #c1a5d2, 0 0 10px #c1a5d2, 0 0 30px #c1a5d2; 
}

.hidden-images-container {
    display: flex;
    flex-wrap: wrap;
}

.enlarge-image {
    width: 25%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.enlarge-image:hover {
    transform: scale(1.2);
}

.enlarged-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: none;
}

.enlarged-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

/* General Styles */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #817ac1;
    font-family: 'Nunito', sans-serif;
}

/* Wrapper Styles */

.wrapper {
    text-align: center;
}

div.card {
    width: 100%;
    padding: 20px;
    background-color: #383464;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
}

div.card h1.title-text {
    color: #ffffff;
}

div.card p {
    color: #ffffff;
}

/* Displaying Container Styles */

.displaying-container {
    display: flex;
    gap: 2.2px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.displaying-item {
    flex-grow: 1;
    flex-basis: 200px; 
}

/* Row and Column Styles */

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .displaying-container {
        gap: 10px;
    }

    .card {
        width: 100%;
    }

    .column {
        flex: 100%;
        margin-top: 15px; 
    }

    .enlarge-image {
        width: 100%;
        flex: 0 0 100%;
    }
}

#dogGif {
    animation: none !important;
    transition: none !important;
}

#no-btn {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.7s, left 0.7s;
}

#yes-btn {
    width: 63.65px;
    height: 47.6px;
    transition: width 0.7s, height 0.7s;
}

.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}
.confetti-piece {
    position: absolute;
    width: 10px;
    height: 30px;
    background: #ffd300;
    top: 0;
    opacity: 0;
}
.confetti-piece:nth-child(1) {
left: 7%;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 182ms;
    -webkit-animation-delay: 182ms;
    animation-duration: 1116ms;
    -webkit-animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
    left: 14%;
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 161ms;
    -webkit-animation-delay: 161ms;
    animation-duration: 1076ms;
    -webkit-animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
    left: 21%;
    transform: rotate(-51deg);
    -webkit-transform: rotate(-51deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 481ms;
    -webkit-animation-delay: 481ms;
    animation-duration: 1103ms;
    -webkit-animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
    left: 28%;
    transform: rotate(61deg);
    -webkit-transform: rotate(61deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 334ms;
    -webkit-animation-delay: 334ms;
    animation-duration: 708ms;
    -webkit-animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
    left: 35%;
    transform: rotate(-52deg);
    -webkit-transform: rotate(-52deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 302ms;
    -webkit-animation-delay: 302ms;
    animation-duration: 776ms;
    -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
    left: 42%;
    transform: rotate(38deg);
    -webkit-transform: rotate(38deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 180ms;
    -webkit-animation-delay: 180ms;
    animation-duration: 1168ms;
    -webkit-animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
    left: 49%;
    transform: rotate(11deg);
    -webkit-transform: rotate(11deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 395ms;
    -webkit-animation-delay: 395ms;
    animation-duration: 1200ms;
    -webkit-animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
    left: 56%;
    transform: rotate(49deg);
    -webkit-transform: rotate(49deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 14ms;
    -webkit-animation-delay: 14ms;
    animation-duration: 887ms;
    -webkit-animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
    left: 63%;
    transform: rotate(-72deg);
    -webkit-transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 149ms;
    -webkit-animation-delay: 149ms;
    animation-duration: 805ms;
    -webkit-animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
    left: 70%;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 351ms;
    -webkit-animation-delay: 351ms;
    animation-duration: 1059ms;
    -webkit-animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
    left: 77%;
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 307ms;
    -webkit-animation-delay: 307ms;
    animation-duration: 1132ms;
    -webkit-animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
    left: 84%;
    transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 464ms;
    -webkit-animation-delay: 464ms;
    animation-duration: 776ms;
    -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
    left: 91%;
    transform: rotate(-72deg);
    -webkit-transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 429ms;
    -webkit-animation-delay: 429ms;
    animation-duration: 818ms;
    -webkit-animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
    background: #7431e8;
}
.confetti-piece:nth-child(even) {
    z-index: 1;
}
.confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: 2000ms;
    -webkit-animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: 2500ms;
    -webkit-animation-duration: 2500ms;
    animation-delay: 1000ms;
    -webkit-animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
    background: red;
}

@keyframes makeItRain {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translateY(350px);
        -webkit-transform: translateY(350px);
    }
}
