body {
    background-color: #CEE0FF; /* Page bg */
}

#site-footer {
    background-color: #186cfc !important;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.col {
    margin: 20px;
}

.form-group {
    margin-top: 20px;
}

/* Remove underlines from anchortags */
a {
    text-decoration: none;
}

.asteriskField {
    display: none;
}

.navbar-shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #a200ff;
    border-color: #ffffff;
}

.navbar-brand {
    transition: background-color 0.6s ease, border-color 0.6s ease;
}

.navbar.navbar-dark .navbar-brand:hover {
    color: #a200ff !important;
}

.responsive-section {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    margin-top: 65px;
    margin-bottom: 65px;
}

@media (max-width: 768px) {
    .responsive-section {
        margin-left: 20px;
        margin-right: 20px;     
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        margin-bottom: 65px;
    }
}

.content-section {    
    width: 60%;
}

.supporting-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.messages-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.header-of-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.content-of-card {
    flex-direction: column;
    align-content: center !important;
    justify-content: space-between;
    align-items: flex-start;
}