.btn-tag-news {
    background-color: #ff0037;
    color: #ffffff; 
}

.btn-tag-music {
    background-color: #5900ff; 
    color: #ffffff; 
}
.btn-tag-gaming {
    background-color: #77ff00; 
    color: #ffffff; 
}

.btn-tag-english {
    background-color: #ff7301; 
    color: #ffffff; 
}

.btn-tag-spanish {
    background-color: #ff0066; 
    color: #ffffff; 
}

.btn-tag-analysis {
    background-color: #ff8400; 
    color: #ffffff; 
}

.btn-tag-essay {
    background-color: #008cff; 
    color: #ffffff; 
}

.btn-tag-movies {
    background-color: #a200ff; 
    color: #ffffff; 
}

.btn-tag-code {
    background-color: #00ff95; 
    color: #ffffff; 
}