{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/tags.css' %}">
    <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">  
    <div class="post-container" style="margin-top: 0px">
        <div class="messages-container">
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% elif 'info' in message.tags %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% elif 'danger' in message.tags %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>          
        <div class="card shadow post-card" style="border-radius: 10px;">
            <div class="card-body" style="display: flex; column-gap: 20px;">
                <div class="card-column" style="display: flex; align-items: baseline;">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" style="width: 60px; height: 60px">
                </div>
                <div class="card-column" style="width: 90%">
                    <div class="header-of-card">
                        <a  href="{% url 'post-detail' pk=post.pk %}">
                            <h3 class="card-title mb-4" style="margin-bottom: 10px !important;">{{ post.title }}</h3>
                        </a>                        
                        <div class="util-container">                            
                            <a href="{% url 'post-like' pk=post.pk %}" class="text-decoration-none text-dark" style="margin-right: 10px;">
                                {% if user in post.likes.all %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                </svg>                              
                                {% endif %}
                            </a>
                            <span class="like-count">{{ post.likes.count }}</span>  
                            {% if user == post.author %}
                                <a href="{% url 'post-update' pk=post.pk %}" class="btn btn-primary" style="margin-right: 10px;">Edit</a>
                                <a href="{% url 'post-delete' pk=post.pk %}" class="btn btn-danger">Delete</a>
                            {% endif %}                                                        
                        </div>                                              
                    </div>
                    <a href="{% url 'about-Winston' %}" class="text-decoration-none text-dark" style="margin-top: 10px"> 
                        <h6 class="card-subtitle mb-2" style="margin-bottom: 5px !important;">By {{ post.author.username }}</h6>
                    </a>
                    <p style="margin-bottom: 10px;">Posted on {{ post.date_posted|date:"F d, Y" }}</p>                    
                    <div class="tags-container">
                        {% for tag in post.tags.all %}
                            <button class="btn btn-sm btn-tag-{{ tag.name|lower }}"><strong>{{ tag.name }}</strong></button>
                        {% endfor %}
                    </div>
                    <div class="post-content">
                        <p>{{ post.body|safe }}</p>
                    </div>
                </div>
            </div>
        </div>               
        <h3 class="card-title mb-4" style="margin-bottom: 10px !important; margin-top: 20px;">Comments</h3>
        <div class="card shadow post-card" style="border-radius: 10px; margin-top: 20px;">
            <div class="card-body" style="display: flex; column-gap: 20px;">
                <div class="card-column">
                    <!-- User's profile picture -->
                    <img src="{{ logged_user.profile.image.url }}" alt="Profile picture" style="width: 50px; height: 50px; border-radius: 50%;">
                </div>
                <div class="card-column comment-column" id="comment-form" data-post-id="{{ post.id }}" data-url="{% url 'post-comment' %}">
                    <!-- Text box for comment -->
                    <textarea class="form-control" id="comment-txt-box" placeholder="Write your comment here..." style="margin-top: 0px;"></textarea>
                    <button class="btn btn-primary comment-btn" id="comment-submit-btn" style="margin-top: 10px;">Post Comment</button>
                </div>
            </div>
        </div>
        {% for comment in comments %}            
            <div class="card shadow post-card" style="border-radius: 10px; margin-top: 20px;">
                <div class="card-body" style="display: flex; column-gap: 20px;">
                    <div class="card-column" style="display: flex; align-items: baseline;">
                        <img class="rounded-circle article-img" src="{{ comment.created_by.profile.image.url }}" style="width: 60px; height: 60px">
                    </div>
                    <div class="card-column">
                        <a href="{% url 'user-profile' id=comment.created_by.id %}" class="text-decoration-none text-dark" style="margin-top: 10px"> 
                            <h6 class="card-subtitle mb-2" style="margin-bottom: 5px !important;">By {{ comment.created_by.username }}</h6>
                        </a>
                        <p style="margin-bottom: 10px;">Posted on {{ comment.date_added|date:"F d, Y" }}</p>                    
                        <div class="post-content">
                            <p>{{ comment.body|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>  
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/search_posts.js' %}"></script>
    <script src="{% static 'js/auto_adjust_margin.js' %}"></script>
    <script src="{% static 'js/comment_form.js' %}"></script>
{% endblock %}
