{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-section" style="width: auto;">
        <div class="messages-container">
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% elif 'info' in message.tags %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% elif 'danger' in message.tags %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div> 
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="card shadow" style="border-radius: 20px">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" style="width: 100%" type="submit">{% block submit_label %}{% endblock %}</button>                        
                    </div>
                </form>
            </div>
        </div>    
        <div class="supporting-section">
            {% block support_options %}
            {% endblock %}            
        </div>
    </div>    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/auto_adjust_margin.js' %}"></script>
{% endblock %}