{% extends "users/base_auth_forms.html" %}
{% block submit_label %}Login{% endblock %}
{% block support_options %}
    <div>
        <small class="text-muted ml-2">                        
            Forgot your password? <a href="{% url 'password_reset' %}">Request a reset</a>        
        </small>
    </div>
    <div>
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{% url 'register' %}">Create a new one.</a>
        </small>
    </div>
{% endblock %}