{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="width: auto;">
        <div class="messages-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="card shadow" style="border-radius: 20px">
            <div class="card-body">
                <div class="content-of-card">
                    <center><img src="{% static 'css/imgs/Sad_Cartoon.png' %}" style="width: 150px; height: 250px; filter: blur(0.1px);" alt="Sad :("/></center>
                    <h3 class="card-title mb-4" style="margin-bottom: 0px !important;">We will miss you!</h3>
                    <small class="text-muted ml-2">                        
                        Wanna come back? <a href="{% url 'login' %}">Log back in</a>        
                    </small>
                </div>
            </div>
        </div>            
    </div>    
{% endblock %}