{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-section" style="width: 35%;">
        <div class="card shadow" style="border-radius: 20px;">
            <div class="card-body">                
                <center>
                    <img 
                        class="rounded-circle profile-img"
                        style="width: 200px; height: 200px; margin-bottom: 15px; margin-top: 15px;"
                        src="{{ profile_user.profile.image.url }}"
                    />
                </center>
                
                <div id="user-data">
                    <hr class="my-4">
                    <h2 class="account-heading">{{ profile_user.username }}</h2>
                    <p class="text-muted">{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
                    <p class="text-muted">{{ profile_user.email }}</p>
                    <hr class="my-4">
                    <h4 class="mb-3"><strong>About Me:</strong></h4>
                    <p class="mb-3">{{ profile_user.profile.about }}</p>
                    <hr class="my-4">
                    <p class="text-muted"><strong>Joined on:</strong> {{ profile_user.date_joined | date:"Y/m/d" }}</p>
                    <p class="text-muted"><strong>Last Seen:</strong> {{ profile_user.last_login | date:"Y/m/d" }} at {{ profile_user.last_login | date:"H:i:s" }}</p>
                </div>                    
            </div>
        </div>          
    </div>    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/auto_adjust_margin.js' %}"></script>
{% endblock %}